coverBand_songList {
  font-size: 80%;
  margin: 0.5em;
  font-family: Verdana;
  display: block;
  background: #fff;
  background-image: url("band.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}
title {
  display: block;
  font-weight: bolder;
  text-align: center;
  font-size: 30px;
  color: #fff;
  text-shadow: 2px 2px #000;
}
music_genre {
  display: block;
  border: 1px solid blue;
  margin: auto;
  width: 50%;
  height: 100px;
  padding: 80px;
  background-color: #CCEBFA;
  text-align: center;
  line-height: 300%;
}
genre_name, song {
  display: block;
  text-align: center;
}
genre_name {
  color: #091885;
  text-decoration: underline;
  font-weight: bolder;
  font-size: 20px;
}
song {
  line-height: 125%;
}
song_name {
  color: #000;
  font-weight: bold;
  font-size: 14px;
}
artist {
  color: #000;
  font-weight: lighter;
  font-size: 12px;
  display: block;
}
year {
  color: #000;
  font-weight: lighter;
  font-size: 12px;
  display: block;
}
